<div class="card block" id="film">

	<div class="card-header"> 
		<span class="film-text-color type"> {{::card.type}} </span>
		<span class="title"> {{::card.title}} </span>
		<span class="film-text-color date"> {{::card.date}} </span>  
	</div>
	<div class="lens"> 
		<img ng-src="{{::card.imageUrl}}" ng-click="changeSize()" fade-in>
		<div ng-if="!open" class="film-highlight-color color-bar"></div>
		<div ng-if="open" class="overlay">
			<div class="film-highlight-color color-bar"></div>
			<div class="body">
				<div class="content-block"> 
					<div> 
						<span> {{::card.time}} - {{::card.rating}} </span>
						<span> - {{::card.genre}} </span> 
					</div>
					<div class="light"> {{::card.creators}} </div>
				</div>
				<div class="content-block"> 
					<div> 
						<span> {{::card.scorepercentage}}% </span> 
						<span> - via {{::card.source}} </span> 
					</div>
					<div class="light"> {{::card.consensus}} </div>
				</div>
				<div class="trigger"> 
					<div>
						<span> Get Tickets </span>
						<span> - via Fandango </span>
					</div>
				</div>
				<div class="trigger"> 
					<div>
						<span> 23 Days Away </span>
						<span> - Share </span>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	
	<div class="card-footer">
		<span class="footer-text open" ng-click="changeSize()"> {{ open == true ? 'less' : 'more' }}</span>
		<span class="footer-text source"> via IMDb </span> 
	</div>

</div>
  