<div class="card block" id="music" ng-click="changeSize()">
	<div class="date">{{::card.date}}</div>
	<div class="header"> 
		<img ng-src="{{::card.art}}" fade-in>
		<div class="music-highlight-color"></div>
	</div>
	<div ng-if="open" class="open">
		<div class="body">
			<div class="title music-text-color">{{::card.artist}}</div>
			<div class="title music-text-color">{{::card.title}}</div>
		</div>
	  	
	</div>

	<div ng-if="!open" class="closed">
		<div class="body">
			<div class="title music-text-color">{{::card.title}}</div>
		</div>
	</div>

</div>
  
